<!DOCTYPE html>
<html lang="ko">
<head>
    <title>ㅌㅅㅌ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/all.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
    </style>
</head>
<body>
    <table class="table table-striped">
        <tr>
           <th>번호</th>
           <th>제목</th>
           <th>글쓴이</th>
           <th>날짜</th>
           <th>조회수</th>
        </tr>
        <hr>
        <tr>
            <th>1001</th>
            <th>1001</th>
            <th>1001</th>
            <th>1001</th>
            <th>1001</th>
        </tr>
    </table>

</body>
</html>