<!DOCTYPE html>
<html lang="ko">
<head>
    <title>ㅌㅅㅌ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/all.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
    </style>
</head>
<body>
    <table class="table table-striped">
        <tr>
           <th>번호</th>
           <th>제목</th>
           <th>글쓴이</th>
           <th>날짜</th>
           <th>조회수</th>
        </tr>
        <hr>
        <tr>
            <th>1001</th>
            <th>1001</th>
            <th>1001</th>
            <th>1001</th>
            <th>1001</th>
        </tr>
    </table>
            ${tplt.header()}
    ${navBar}

<div class="container" style="margin-top: 90px;">
    <div class="row">
        <div class="col-12">
            <h3>회원정보 상세조회</h3>
            <hr>
        </div>
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-condensed">
                <tr>
                    <td>사용자 ID</td>
                    <td>${data.uid}</td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>${data.uname}</td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>${data.tel}</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>${data.email}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" onclick="location.href='/bbs/list/1'">확인</button>
                    </td>
                </tr>
                <tr>
                    <td><form action='/upload' method="post" for="image">프로필사진</td>
                    <td><input type="file" name="upload" id="image" ></td>
                </tr>
            </table>
        </div>
        <div class="col-3"></div>
        
    </div>
</div>
</body>
</html>
